body {
    background-image: url("birthday.gif");
    background-size:cover;
}
body:hover{
       background-image: initial;
       background-color: black;
       background-size: cover;
       background-repeat:no-repeat
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-style: normal;
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 60px;
    border-style: solid;
    border-width: medium;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    text-shadow: 2px 2px black;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;

}
#Gift{
    position:fixed;
    bottom:0;
    animation-name: Gift;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    -webkit-animation-name: Gift;
    
}
    @keyframes Gift {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}