body {
    background-image: url("birthday1.jpg");
    background-size: cover;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-style: normal;
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 60px;
    border-style: solid;
    border-width: medium;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
     text-shadow: 2px 2px black;
}
img {
   border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
